*.builtin
*.cmd
*.ko
*.lzma
*.o
*.order
.config
.missing-syscalls.d
.tmp_System.map
.tmp_kallsyms1.S
.tmp_kallsyms2.S
.tmp_versions/
.tmp_vmlinux1
.tmp_vmlinux2
.version
Module.symvers
System.map
arch/arm/boot/Image
arch/arm/boot/compressed/lib1funcs.S
arch/arm/boot/compressed/piggy.gzip
arch/arm/boot/compressed/vmlinux
arch/arm/boot/compressed/vmlinux.lds
arch/arm/boot/zImage
arch/arm/kernel/asm-offsets.s
arch/arm/kernel/vmlinux.lds
arch/arm/lib/lib.a
crypto/ansi_cprng.mod.c
drivers/bluetooth/bthid/bthid.mod.c
drivers/char/consolemap_deftbl.c
drivers/char/defkeymap.c
drivers/misc/vibtonz/vibrator.mod.c
drivers/net/wireless/bcm4329/dhd.mod.c
drivers/net/wireless/bcm4329/src/wl/sys/hotspot_event_monitoring.mod.c
drivers/scsi/scsi_wait_scan.mod.c
firmware/samsung_mfc_fw.bin
firmware/samsung_mfc_fw.bin.gen.S
include/config/
include/generated/
include/linux/version.h
kernel/bounds.s
kernel/config_data.gz
kernel/config_data.h
kernel/timeconst.h
lib/crc32table.h
lib/gen_crc32table
lib/lib.a
scripts/basic/docproc
scripts/basic/fixdep
scripts/basic/hash
scripts/bin2c
scripts/conmakehash
scripts/kallsyms
scripts/kconfig/conf
scripts/kconfig/lex.zconf.c
scripts/kconfig/zconf.hash.c
scripts/kconfig/zconf.tab.c
scripts/mod/elfconfig.h
scripts/mod/mk_elfconfig
scripts/mod/modpost
usr/.initramfs_data.cpio.d
usr/gen_init_cpio
usr/initramfs_data.cpio
vmlinux
